// $Roboto: var(--inter-font);
@use "fonts" as *;
* {
  // font-family: $Roboto;
}

p,
span,
b,
th,
td,
label {
  font-size: 1rem !important;
}

.text-14px {
  font-size: 14px !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

header > div {
  height: 64px;
}

.container_first_child {
  margin-top: 88px !important;
  margin-bottom: 0 !important;
  padding-inline: 24px;
}

// .LeftMenu > .MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
//   width: 350px;
// }

// .MuiAccordion-root.Mui-expanded {
//   margin: 0 !important;
// }

// .MuiAccordionSummary-content.Mui-expanded {
//   margin: 12px 0 !important;
// }

// .MuiList-root {
//   & a {
//     text-decoration: none;
//     color: rgba(0, 0, 0, 0.87);
//   }
//   .MuiListItem-root {
//     height: 50px;
//   }
// }

td[class*="customCel"] {
  text-align: center !important;
}
td[class*="tableCel"] {
  text-align: center !important;
}
th[class*="tableCelHead"] {
  text-align: center !important;
}

.customCel {
  background-color: #bababa !important;
  text-align: center !important;
  border-right: 1px solid #e5e5e5 !important;
  padding: 15px !important;
  cursor: pointer !important;
  font-size: 1.3rem !important;
}

.customCel:hover {
  background-color: #e5e5e5 !important;
}

.tableCel {
  text-align: center !important;
  border-right: 1px solid #e5e5e5 !important;
  padding: 15px !important;
  cursor: pointer !important;
  font-size: 1.3rem !important;
}

.tableCel:hover {
  background-color: #e5e5e5 !important;
}

.montserrat-family * {
  font-family: $font-family-primary !important;
}

.button {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
}

.highlighted-field {
  position: relative;
  border: 2px solid red;
}

.datePicker {
  width: 100%;

  &
    div.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
    height: 40px;
  }
}

span.group-items-label {
  font-size: 12px !important;
  color: #49454f;
  margin-left: 8px;
}

span.items-label-all {
  font-size: 16px !important;
  color: #79747e;
  margin-top: 1px;
}

.sklad_storage {
  td[class*="tableCel"] {
    text-align: left !important;
  }

  .tableCellInput {
    & .MuiFormControl-root.MuiTextField-root {
      width: 30% !important;
      @media (max-width: 600px) {
        width: 100% !important;
      }
    }
  }
}

.accordion_f_a_q {
  & .MuiAccordionSummary-content {
    justify-content: space-between;

    & p {
      display: flex;
      align-items: center;
    }

    & button {
      margin-right: 30px;
    }
  }
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 !important;
}

#items .MuiBox-root {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#rec .MuiBox-root {
  justify-content: center;
  display: flex;
}
#stat .MuiBox-root {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}
#clients .MuiBox-root {
  display: flex;
  flex-wrap: wrap;
}

#rec,
#items,
#pf,
#stat,
#clients {
  & > div {
    padding: 0;
  }

  .MuiList-root {
    .MuiListItem-root {
      height: auto;
    }
  }
}

#client {
  & > div {
    padding: 0;
    padding-top: 24px;
  }
}

.client_auth {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.fines_err {
  .button {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 17px;
  }

  .choose_user {
    border: 10px #bb0025 solid;
  }

  .img_modal {
    max-width: 300px !important;
    max-height: 300px !important;
  }
}

.disabled_input {
  & .MuiFormLabel-root.MuiInputLabel-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.6);
  }

  & .MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled {
    opacity: 1 !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
  }

  & .MuiInputBase-root.MuiOutlinedInput-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.87);
  }

  & .MuiInputBase-root.MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
  }
}

.disabled_input_color {
  & .MuiFormLabel-root.MuiInputLabel-root.Mui-disabled {
    background: #ffcf40 !important;
  }

  & .MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled {
    background: #ffcf40 !important;
  }
}

.disabled_input_color_delete {
  & .MuiFormLabel-root.MuiInputLabel-root.Mui-disabled {
    background: #fadadd !important;
  }

  & .MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled {
    background: #fadadd !important;
  }
}

.accordion_details {
  overflow: auto;
  padding: 0 16px 8px 16px !important;
}

#table_graph_one td,
#table_graph_one th,
#table_graph_two td,
#table_graph_two th {
  padding: 3px !important;
  border-left: 1px solid #e5e5e5 !important;
  max-width: 110px !important;
  min-height: 38px !important;
}

.min_block {
  width: 50px !important;
  text-align: center !important;
}

.min_size {
  font-size: 0.6rem !important;
}

div.css-19kzrtu {
  padding-right: 0px !important;
}

.name_pinning {
  min-width: 140px !important;
  width: max-content;
  display: table-cell;
  min-height: 38px;
  position: absolute;
  background-color: #fff;
  margin-left: -1px;
  border-bottom: 2px solid #e5e5e5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#OpenModalM > .MuiDialog-container > div,
#OpenModalH > .MuiDialog-container > div {
  @media (max-width: 600px) {
    margin: 0px !important;
  }
}

.cellErr {
  display: flex !important;
  flex-direction: column !important;
}

.userSmenalist {
  max-height: 300px;
  overflow: scroll;

  & > div {
    margin-bottom: 10px;
  }
  & .Mui-selected:not(.SmenaDelete) {
    background-color: #f9bc23 !important;
    border-radius: 10px;
    & span {
      color: #525252 !important;
      font-weight: 600 !important;
    }
  }
  & .Mui-selected.SmenaDelete {
    background-color: red !important;
    border-radius: 10px;
    & span {
      color: #fff !important;
      font-weight: 600 !important;
      text-align: center;
    }
  }
}

.checkBox {
  padding: 0px !important;
  & label {
    margin: 0 !important;
    & span {
      width: 10px;
      padding: 0;
    }
  }
}

.accordion_summary {
  padding-left: 0 !important;
  margin: 0 !important;
  min-height: 48px !important;

  & .MuiAccordionSummary-content {
    margin: 0 0 !important;
    min-height: 48px;
  }
}

.ceil_tooltip {
  width: max-content;

  & .MuiFormControlLabel-root {
    margin: 0 !important;
  }
}

.ceil_svg {
  display: flex;

  & svg {
    fill: rgb(204, 0, 51);
  }
}

.ceil_white {
  & .MuiFormControl-root {
    border-radius: 4px;
    background-color: #fff !important;
  }

  & .MuiFormControl-root.MuiTextField-root {
    border-radius: 4px;
    background-color: #fff !important;
  }
}

.span_text {
  font-weight: bold !important;
  font-size: 20px !important;
}

.close_btn {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  background: #fff !important;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  box-shadow: 0px 2px 6px rgba(53, 67, 93, 0.32);
  & .MuiSvgIcon-root {
    fill: #4c68c1;
  }
}

// .modal {
//   background-color: rgba(0, 0, 0, 0.6);
//   position: fixed;
//   top: 0;
//   left: 0;
//   opacity: 1;
//   transition: all 0.5s ease 0s;
//   z-index: 1000;
//   overflow-y: auto;
// }
.modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  // overflow: hidden auto;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  touch-action: none;
}

.modal_btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  background-color: gray;
  height: 60px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;

  & :hover {
    background-color: #e5e5e5 !important;
  }

  & button {
    background-color: #fff;
    border-radius: 10%;
    margin-right: 10px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.image_bill {
  // max-width: 70%;
  height: auto;
  display: block;
  transform-origin: center center;
  user-select: none;
  pointer-events: none; /* optional if you drag by wrapper */
}

.img_modal_bill {
  max-width: 300px !important;
  max-height: 300px !important;
  height: fit-content;
  margin-right: 10px;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 !important;
}
a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.MuiBackdrop-root {
  // z-index: 999;
  color: rgb(255, 255, 255) !important;
}
.MuiPaper-root.MuiDialog-paper {
  // z-index: 999;
  width: 100% !important;
}
.Mui-disabled {
  background-color: #fff !important;
  opacity: 1 !important;
}
// .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper{
// z-index: 999;
// }
.MyDaterange input {
  padding: 8.5px 14px !important;
}
.rmdp-container {
  width: 100% !important;
}
.rmdp-container > input {
  font-size: 1rem !important;
  padding: 8.5px 14px !important;
  height: auto !important;
}

.__react_modal_image__icon_menu {
  display: flex !important;
}
.datePicker {
  width: 100%;
  &
    div.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
    height: 40px;
  }
}

#simple-tabpanel-0,
#simple-tabpanel-1 {
  & > div {
    padding-right: 0;
  }
}

.list_zones {
  height: 50%;
  width: 30%;
  z-index: 100;
  background: #fff;
  box-shadow: 10px 20px 40px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 24px !important;
  float: right;
  right: 10px;
  margin-top: 100px !important;

  & .list {
    overflow-y: auto;
    height: 100%;
    padding-right: 24px;
  }
}

.li_disc {
  list-style-type: circle;
}

.checkbox_disable {
  & .MuiButtonBase-root.MuiCheckbox-root {
    pointer-events: none;
  }

  & .MuiButtonBase-root.MuiCheckbox-root:hover {
    background-color: transparent;
  }
}

.button_import {
  & .MuiButtonBase-root.MuiButton-root {
    font-size: 0.875rem !important;
  }
}

.input_login {
  & .MuiInputBase-root.MuiOutlinedInput-root {
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.input_login_white {
  & .MuiInputBase-root.MuiOutlinedInput-root {
    background-color: #ffffff;

    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.mail_box {
  display: flex;
  align-items: center;

  & > div:nth-child(2) {
    width: 50% !important;
    margin-left: 30px;
  }
}

.select_box {
  display: flex;
  align-items: center;

  & > div:nth-child(2) {
    width: 10% !important;
    margin-right: 30px;
    margin-left: 30px;
  }

  & > div:nth-child(3) {
    width: 20% !important;
    margin-right: 30px;
  }
}

.tox-statusbar__branding {
  display: none !important;
}

.cell_as {
  display: flex;
  flex-direction: row;
  gap: 12;
  @media (max-width: 600px) {
    flex-direction: column;
  }

  .box_as {
    border: 2px solid #e5e5e5;
    border-radius: 60;
    padding: 1px 14px;
    font-size: 12;
    width: fit-content;
    background-color: #fff;
    white-space: nowrap;
  }
}
